body {
  font-family: "proxima-nova", sans-serif;
}

.container-fluid {
  padding: 0;
}

.container {
  max-width: 800px;
}

.content-page h1,
.content-page h2,
.content-page h3,
.content-page h4 {
  margin: 0;
  padding: 20px 0 10px 0;
}

.content-page .row {
  padding: 30px 0 40px 0;
}

.content-page h2 {
  color: #333333;
  font-size: 30px;
}
.content-page p {
  margin-top: 10px;
  color: #333333;
  font-size: 18px;
  padding-bottom: 10px;
}

.content-page a {
  color: #000;
  font-weight: 600;
}

.content-page .hero {
  height: 450px;
  background-image: url("../images/Extreme-1.jpg"); /*url("/images/headers/header-background.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-page .hero h1 {
  color: #fff;
  font-size: 48px;
}
.content-page .hero p {
  color: #3433e8;
  font-family: "proxima-nova";
  font-weight: bold;
  font-size: 24px;
}

.stats {
  background: #f0f0f0;
}

.stats .stats-value {
  font-size: 60px;
  display: block;
  text-align: center;
}
.stats .stats-label {
  font-size: 20px;
  display: block;
  text-align: center;
}
.text-uppercase {
  margin-bottom: 100px;
  width: 11.5ch;
  animation: typing 2s steps(21), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "proxima-nova";
  font-size: 16px;
  color: #3433e8;
  border-radius: 5px;
  opacity: 0.5;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
