body {
  margin: 0;
  background-color: #3433e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: poppins;
}

main {
  height: 200vh;
  width: 100%;
  margin: 0px;
}

.nav {
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 80px;
  left: 0px;
  background-color: whitesmoke;
  z-index: 1;
  position: fixed;
  flex-wrap: wrap;
}
.logo {
  width: 120px;
  height: 70px;
  left: 10px;
  top: 5px;
  position: absolute;
}
li {
  display: inline-flex;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.navli {
  position: relative;
  width: 400px;
  height: 6px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  columns: #333333;
  left: 25%;
}
.home {
  border-radius: 3rem;
  border: 14px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}
.home:hover {
  border: 12px solid transparent;
  border-radius: 3rem;
  cursor: pointer;
  transform: scale(1.05);
  will-change: transform;
  background-color: blue;
  color: white;
  content: "";
  transition: 0.2s;
  transform: ease-out;
  z-index: -1;
}
.home:hover::after {
  transform: translate(0, 0);
}
.about {
  border-radius: 3rem;
  border: 14px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}
.about:hover {
  border: 12px solid transparent;
  border-radius: 3rem;
  cursor: pointer;
  transform: scale(1.05);
  will-change: transform;
  background-color: blue;
  color: white;
  content: "";
  transition: 0.2s;
  transform: ease-out;
  z-index: -1;
}
.about:hover::after {
  transform: translate(0, 0);
}
.gallery {
  border-radius: 3rem;
  border: 14px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}
.gallery:hover {
  border: 12px solid transparent;
  border-radius: 3rem;
  cursor: pointer;
  transform: scale(1.05);
  will-change: transform;
  background-color: blue;
  color: white;
  content: "";
  transition: 0.2s;
  transform: ease-out;
  z-index: -1;
}
.gallery:hover::after {
  transform: translate(0, 0);
}
.contact {
  border-radius: 3rem;
  border: 14px solid whitesmoke;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  transition: filter 0.4s ease-in-out;
}
.contact:hover {
  border: 12px solid transparent;
  border-radius: 3rem;
  cursor: pointer;
  transform: scale(1.05);
  will-change: transform;
  background-color: blue;
  color: white;
  content: "";
  transition: 0.2s;
  transform: ease-out;
  z-index: -1;
}
.contact:hover::after {
  transform: translate(0, 0);
}
.name {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 30px;
  left: 140px;
  top: -4px;
  position: relative;
  color: blue;
  font-weight: 600;
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
  animation-name: test;
  animation-duration: 10s;
}
@keyframes test {
  0% {
    color: blue;
  }
  25% {
    color: yellow;
  }
  50% {
    color: red;
  }
  100% {
    color: green;
  }
}
.gif {
  position: relative;
  width: 100%;
  height: 100%;
}
.gifbox {
  position: relative;
  top: 80px;
  width: 100%;
  display: flex;
  height: 600px;
  align-items: stretch;
}
.container1 {
  position: relative;
  width: 100%;
  height: 400px;
  left: 0px;
  top: 80px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: whitesmoke;
}
.card1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 400px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.card2 {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 400px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.card3 {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 400px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.card4 {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 400px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
p {
  font-family: poppins;
}
